:root {
	/* サイトで使用するカラー */
	--baseColor: #0A81A5;
	--mainColor: #231815;
	--accentColor: #FFFFFF;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.bg_pattern {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--baseColor);
	/* opacity: 0.4; */
	z-index: -1;
}
.Cross {
	background: radial-gradient(circle, transparent 20%, var(--baseColor) 20%, var(--baseColor) 80%, transparent 80%, transparent),
	radial-gradient(circle, transparent 20%, var(--baseColor) 20%, var(--baseColor) 80%, transparent 80%, transparent) 50px 50px,
	linear-gradient(#08708F 4px, transparent 4px) 0 -2px,
	linear-gradient(90deg, #08708F 4px, var(--baseColor) 4px) -2px 0;
	background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}
html,
body{
	/* background-color: var(--baseColor); */
	background-image:url("images/back.png");
	background-size: cover;
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-family: "Osaka";/* 日本語 */
	color: var(--mainColor);
	line-height: 1.6;/* 行間 */
}


.b-font{
	font-family: "Arial Narrow";
	font-weight: 700;
}

.bi-font{
	font-family: "Arial Narrow";
	font-style:italic;
	font-weight: 700;
}

.r-font{
	font-family:"Arial Narrow";
	font-weight: 400;
}

.txt-hh{
	font-size: 50px;
}

.txt-h{
	font-size: 30px;
}
.txt-name{
	font-size: 30px;
}
.txt-head{
	font-size:20px;
}
.txt-formal{
	font-size:18px;
}
.txt-mini{
	font-size: 15px;
}
.txt-middle{
	/* width:100%; */
	text-align:center;
}

.txt-left{
	text-align:left;
}

/* ヘッダー */
.header-nav-logo {
	display: flex;
	justify-content: left;
	/* 水平方向の揃え間隔をあける */
	width: 100%;/* コンテンツ内で１００％ */
	height:80px;
	align-items: center;
	margin-top:auto;
	margin-bottom:auto;
}
.logo{
	width:10%;
	margin-left:10%;
}
.logo-imgs{
	width:70px;
}
.header {
	background-color: #19150F;
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 3;/* 重なり */
}
/* パソコン用 */
.header-content-wrapper {
	/* max-width: 1040px; */
	width:100%;/* コンテンツの横幅は全体の５０％ */
	height: 100%;/* コンテンツの縦幅は全体の１００％ */
	display: flex;
	align-items: center;/* 横向きに並んだものを真ん中に揃える */
	/* text-align:right; */
	/* margin-left: 50%; */
	/* 全体の半分を空白にしてからコンテンツをならべる */
	}

	.header-nav {
		display: flex;
		justify-content: space-around;/* 水平方向の揃え間隔をあける */
		width: 100%;/* コンテンツ内で１００％ */
		display: flex;
		list-style: none;/* リスト特有の・をなくす */
		border-bottom:5px solid #796A56;
		/* padding-left:50px; */
	}
	.header-nav a{/* ヘッダー内のaのデザイン */
		color:var(--accentColor);
		text-decoration: none;/* リンク特有の下線をなくす */
}


/* スマホ用 */
/* チェックボックスは非表示に */
.drawer-hidden {
	display: none;
}

  /* ハンバーガーアイコンの設置スペース */
.drawer-open {
	display: flex;
	height: 8vw;
	width: 8vw;
	top:20px;
	right:7vw;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 100;/* 重なり順を一番上に */
	cursor: pointer;
}

  /* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background: #FFF;
	transition: 0.5s;
	position: absolute;
}

  /* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
	bottom: 8px;
}

  /* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
	top: 8px;
}

  /* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
	background: rgba(255, 255, 255, 0);
}

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
	bottom: 0;
	transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
	top: 0;
	transform: rotate(-45deg);
}

/* メニューのデザイン*/
.drawer-content {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%;/* メニューを画面の外に飛ばす */
	z-index: 99;
	background: #19150F;
	transition: .5s;
}

  /* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
	left: 0;/* メニューを画面に入れる */
}
/* ハンバーガーここまで */

.header-nav2{
	display: flex;
	/* align-content:space-between;垂直方向の揃え間隔をあける */
	flex-direction:column;
	align-content:center;
	justify-content: space-around;
	/* justify-content: space-around; */
	width: 100%;/* コンテンツ内で１００％ */
	display: flex;
	list-style: none;/* リスト特有の・をなくす */
	border-bottom:8px solid #796A56;
	/* padding-left:50px; */
}
.header-nav2 a{/* ヘッダー内のaのデザイン */
	color:var(--accentColor);
	text-decoration: none;/* リンク特有の下線をなくす */
}

.header-nav2 li{
	width:60vw;
	padding:10vh 5vw;
	margin: auto;
	list-style:none;

}

@media (max-width:766px) {/* パソコン用を消す */
	.header-content-wrapper {
		display:none;
	}
	.header-nav {
		display:none;
	}
	.header-nav a{
		display:none;
	}

}
@media (min-width:767px){
	.drawer{
		display:none;
	}
}
/* ヘッダーここまで */


/* トップページここから */

.ue{/* works about contact上の余白 */
	margin-top:80px;
	padding-top:30px;
}

/* Works */
.imgs{/* 作品サムネサイズ */
	width:100%;
}


.white-box{/* 作品のキャプション */
	margin:auto ;/* 白箱の左側に空白 */
	margin-top:20px;
	margin-bottom:60px;
	border:0.5px solid var(--mainColor);/* 枠線 */
	/* background-color:var(--accentColor) ; */
	background-color: rgba(255,255,255,0.98);/* 透明度入れた箱の色 */
	width: 250px;
	height:150px;
	padding:15px 0px 25px 20px;/* 箱内の空白下と左 */
}

.border-black{
	text-align:left;
	padding:15px 15px 10px 0px;/* 題名下線の空白上と右（題名分） */
	border-bottom:2px solid var(--mainColor);
}

.setsumei{
	text-align:left;
	padding:10px 20px 0 0;/* 線の下の説明文の右側の空白 */
}

.shadow{/* white-boxのシャドウ */
	box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.2);/* 水平　垂直　ぼかし具合　広がり具合 */
}

.btn-img{/* サムネのホバー */
	display:block;
}

.btn-img:hover{
	transform:scale(1.005,1.005);
	/* filter:brightness(97%); */
	transform:translate(0,-10px);
	transition:0.2s;
}

.grid{/* トップページ作品陳列１：１：１ */
	display: grid;
	margin-left: 90px;
	margin-right: 90px;
	gap:10px;
	grid-template-columns:1fr 1fr 1fr;
}

.gird-item{/* 作品陳列 */
	width:100%;
	text-align:center;
	margin:40px;
}


@media (max-width:766px){/* 作品陳列　パソコン用を消す　スマホ */
	.grid{
		grid-template-columns:1fr;
		margin-left: 30px;
		margin-right: 30px;
	}
	.gird-item{/* 作品陳列 */
		width:80%;

	}

	.white-box{
		width:200px;
		height:110px;
		padding:10px 0px 12px 10px;
	}
	.border-black{
		padding:10px 10px 6px 0px;/* 題名下線の空白上と右（題名分） */
	}
	.setsumei{
		padding:5px 10px 0 0;/* 線の下の説明文の右側の空白 */
	}
	.txt-name{
		font-size:20px;
	}
	.txt-head{
		font-size:15px;
	}
	.txt-formal{
		font-size:12px;
	}
	.txt-mini{
		font-size: 10px;
	}

}

/* About */
.black{/* Aboutの黒箱 */
	margin: auto;
	margin-top: 80px;
	margin-bottom:70px;
	background-color:var(--mainColor);
	width:800px;
	height:600px;
}


.shiro-txt{/* 白い文字の色 */
	color:var(--accentColor);
}

.grid2{/* About */
	display: grid;
	margin-left: 80px;
	margin-right: 80px;
	gap:20px;
	grid-template-columns:1fr 1fr;
}

.grid2-item{
	/* width:100%; */
	text-align:left;
	margin:10px 10px 60px 10px;
}

.shita{/* Aboutの下の空白 */
	padding-bottom:10px;
}

.ue2{
	margin-top:20px;
}

.face{/* 顔写真 */
	width:50%;
	align-items:left;
}

.skills{/* スキル画像サイズ */
	width:100%;
}

/* Contact */
.paper{/* 紙サイズ */
	/* width:70%; */
	margin:auto ;/* 白箱の左側に空白 */
	margin-bottom:100px;
	border:0.5px solid var(--mainColor);/* 枠線 */
	/* background-color:var(--accentColor) ; */
	background-color: rgba(255,255,255);/* 透明度入れた箱の色 */
	width: 891px;
	height:630px;
	padding:0px 20px 90px 20px;/* 箱内の空白下と左 */
}

.contact-txt{
	display: flex;/*要素をフレックスボックスに*/
	align-items: center;/*フレックスボックスの中のアイテムを上下中央に*/
	justify-content: center;/*フレックスボックスの中のアイテムを左右中央に*/
}
.input-txt{/* inout上文字をinputの左に揃える */
	width:100px;
	text-align:left;
	/* margin-left:150px; */
}

.input-de{
	width:550px;/* input書き込み欄 */
}

.grid-contact{
	/* display: grid; */
	/* margin-left: 80px;
	margin-right: 80px; */
	grid-template-columns:1fr;
	display: flex;
	justify-content:center;
}
.grid-contact-item{
	width:100%;
	text-align:center;
	/* margin:10px 10px 60px 10px; */
}

a.btn_05 {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	width: 50%;
	height: 70px;
	background-color: #e8a48b;
	box-sizing: border-box;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.1em;
	line-height: 2.0;
	text-decoration: none;
	transition-duration: 0.3s;
	position: relative;
}
a.btn_05:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 40px 0 0;
	border-color: #ffffff transparent transparent transparent;
}
a.btn_05:after {
	content: "";
	position: absolute;
	top: -6px;
	left: 5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 40px 30px;
	border-color: transparent transparent #efefef transparent;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
	transform: rotate(16deg);
}
a.btn_05:hover {
	background-color: #e6de6b;
}
a.btn_05 span {
	position: relative;
	padding-left: 16px;
	letter-spacing: 0.05em;
}
a.btn_05 span:before {
	content: '';
	width: 6px;
	height: 6px;
	border: 0;
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -4px;
}

@media (max-width:766px) {/* パソコン用を消す */
	.txt-hh{
		font-size: 30px;
	}
	.ue{/* works about contact上の余白 */
		margin-top: 30px;
		padding-top:10px;
	}
	.black{
		width:330px;
		height:530px;
	}
	.grid2{
		grid-template-columns:1fr ;
		gap:0;
		margin-left: 20px;
		margin-right: 20px;
	}
	.grid2-item{
		text-align:center;
		margin:0px 0px 10px 0px;
	}

	.face{/* 顔写真 */
		width:50%;
		align-items:right;
	}
	.ue2{
		margin-top:10px;
	}

.skills{/* スキル画像サイズ */
	width:70%;
}
	.paper{
		height:445px;
		width:315px;
	}
	.input-txt{/* inout上文字をinputの左に揃える */
		width:100px;
		/* text-align:left; */
		/* margin-left:25px; */
	}
	.input-de{
		width:280px;/* input書き込み欄 */
	}


}

.footer{
	background-color: rgba(255,247,223,0.9);
	width: 100%;
	height: 70px;
	position: fixed;

}

/* トップページここまで */




.page-imgs-nale{/* 各ページのサムネイル画像のサイズ */
	width:70%;
	margin-top:50px;
}
.white-box-top{
	margin-right:auto ;
	margin-left:auto;
	margin-bottom:150px;
	border:0.5px solid var(--mainColor);/* 枠線 */
	/* background-color:var(--accentColor) ; */
	background-color: rgba(255,255,255,0.98);/* 透明度入れた箱の色 */
	width: 500px;/* 箱は全体の3０％ */
	padding:20px 0px 25px 20px;/* 箱内の空白下と左 */
}

.black-name{
	margin: auto;
	margin-bottom:30px;
	background-color:var(--mainColor);
	width:150px;
	height:28px;
}
.black-name-long{
	margin: auto;
	margin-bottom:30px;
	background-color:var(--mainColor);
	width:280px;
	height:28px;
}

.gridwork{/* 作品ページ作品陳列１：１：１ */
	display: grid;
	margin-left: 90px;
	margin-right: 90px;
	margin-bottom:30px;
	gap:10px;
	grid-template-columns:1fr 1fr;
}

.girdwork-item{/* 作品陳列 */
	width:100%;
	text-align:center;
	/* margin-bottom:0px; */
}

.gridhalf{
	display: grid;
	margin-left: 90px;
	margin-right: 90px;
	gap:10px;
	/* margin-bottom:150px; */
	grid-template-columns:1fr 1fr;
	display: flex;
	align-items:flex-end;
}

.gridhalf-item{
	width:100%;
	text-align:center;
}
.white-boxhalf{/* 作品のキャプション */
	margin-left:auto ;
	margin-right:auto;
	/* 白箱の左側に空白 */
	/* margin-right:8%; */
	margin-bottom:20px;
	border:0.5px solid var(--mainColor);/* 枠線 */
	/* background-color:var(--accentColor) ; */
	background-color: rgba(255,255,255,0.98);/* 透明度入れた箱の色 */
	width: 300px;
	padding:20px 0px 25px 20px;/* 箱内の空白下と左 */
}

.white-box-one{
	margin-left:auto ;
	margin-right:auto;
	/* 白箱の左側に空白 */
	/* margin-right:8%; */
	margin-bottom:150px;
	border:0.5px solid var(--mainColor);/* 枠線 */
	/* background-color:var(--accentColor) ; */
	background-color: rgba(255,255,255,0.98);/* 透明度入れた箱の色 */
	width: 900px;
	padding:20px 0px 25px 20px;/* 箱内の空白下と左 */
}

.white-box-bottom{
	margin-right:auto ;
	margin-left:auto;
	margin-bottom:50px;
	border:0.5px solid var(--mainColor);/* 枠線 */
	/* background-color:var(--accentColor) ; */
	background-color: rgba(255,255,255,0.98);/* 透明度入れた箱の色 */
	width: 900px;
	padding:20px 0px 25px 20px;/* 箱内の空白下と左 */
}

.youtube{
	position:relative;
	width: 100%;
	/* overflow: hidden; */
	height:0;
	padding-bottom: 56.25%;
}

.youtube iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
	margin-left:10%;
	/* margin-bottom:20px; */
	/* border: none; */
	/*境界線の打ち消し*/
}

.gif{
	width:80%;
	margin-left:10%;
}

.ashi{/* 足跡の画像のサイズと中央寄せ */
	width:20%;
	align-items:center;
}
.ttop10{
	margin-top:10%;
}
.uunder10{
	margin-bottom:10%;
}
.under{
	margin-bottom:150px;
}
.container2{/*足跡らへん */
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}


@media (max-width:766px) {/* パソコン用を消す */
	.white-box-top{
		width:300px;
	}
	.gridwork{
		grid-template-columns: 1fr;
		margin-left: 50px;
		margin-right: 50px;
	}
	.black-name{
		width:100px;
		height:20px;
	}
	.black-name-long{
		width:200px;
		height:20px;
	}
	.gridhalf{
		grid-template-columns:1fr;
		display: block;
		margin-left: 50px;
		margin-right: 50px;
	}
	.white-boxhalf{
		width:200px;
	}
	.white-box-one{
		width:300px;
	}
	.white-box-bottom{
		width:300px;
	}
}


	.top{
		margin-top:80px;
	}

main{
	padding-top:80px;/* ヘッダー分和えに空白を開ける */
}

